<div id="plot-isa-versions-program-sizes"></div>
<script>
var host_programs = ['cil_from_host', 'cil_from_netdev', 'cil_to_host', 'cil_to_netdev', 'handle_lxc_traffic', 'tail_handle_ipv4_cont_from_host', 'tail_handle_ipv4_cont_from_netdev', 'tail_handle_ipv4_from_host', 'tail_handle_ipv4_from_netdev', 'tail_handle_ipv6_cont_from_host', 'tail_handle_ipv6_cont_from_netdev', 'tail_handle_ipv6_from_host', 'tail_handle_ipv6_from_netdev', 'tail_handle_nat_fwd_ipv4', 'tail_handle_nat_fwd_ipv6', 'tail_handle_snat_fwd_ipv4', 'tail_handle_snat_fwd_ipv6', 'tail_ipv4_host_policy_ingress', 'tail_ipv6_host_policy_ingress', 'tail_nodeport_nat_egress_ipv4', 'tail_nodeport_nat_egress_ipv6', 'tail_nodeport_nat_ingress_ipv4', 'tail_nodeport_nat_ingress_ipv6', 'tail_nodeport_rev_dnat_ingress_ipv4', 'tail_nodeport_rev_dnat_ingress_ipv6'];
var programs = host_programs.map(p => 'bpf_host ' + p);
var v1ProgramSizes = {
    x: programs,
    y: [674, 696, 866, 3337, 2100, 1208, 655, 633, 2399, 1240, 799, 791, 2673, 892, 840, 3879, 3520, 1125, 1139, 2919, 3254, 1826, 2068, 928, 976],
    type: 'bar',
    mode: 'markers',
    name: 'v1',
    marker: {
        color: 'rgb(241, 115, 35)',
    }
};
var v2ProgramSizes = {
    x: programs,
    y: [669, 690, 850, 3295, 2105, 1193, 644, 629, 2400, 1225, 787, 780, 2642, 891, 833, 3850, 3510, 1113, 1128, 2916, 3240, 1807, 2016, 923, 960],
    type: 'bar',
    mode: 'markers',
    name: 'v2',
    marker: {
        color: 'rgb(248, 197, 23)',
    }
};
var v3ProgramSizes = {
    x: programs,
    y: [643, 673, 782, 3119, 1975, 1151, 617, 580, 2217, 1183, 751, 717, 2467, 818, 761, 3492, 3189, 1054, 1062, 2607, 2935, 1655, 1896, 844, 872],
    type: 'bar',
    mode: 'markers',
    name: 'v3',
    marker: {
        color: 'rgb(98, 138, 198)',
    }
};
var v4ProgramSizes = {
    x: programs,
    y: [599, 634, 746, 2956, 1897, 1068, 600, 563, 2164, 1095, 735, 698, 2415, 793, 748, 3436, 3161, 1014, 1036, 2591, 2911, 1615, 1865, 819, 859],
    type: 'bar',
    mode: 'markers',
    name: 'v4',
    marker: {
        color: 'rgb(152, 201, 62)',
    }
};

plotlyReady(function() {
    var data = [v1ProgramSizes, v2ProgramSizes, v3ProgramSizes, v4ProgramSizes];
    var layout = {
        title: {
            text: '<b>Program Sizes for Each Instruction Set Version</b>',
        },
        barmode: 'group',
        legend: {x: 0.02, y: 0.95},
        margin: {t: 80, l: 30, r: 0, b: 80},
        xaxis: {
            title: {
                text: "Cilium's BPF programs",
            },
            showticklabels: false
        },
        yaxis: {tickformat: 's'},
        height: 450,
    };
    if (jQuery.browser && jQuery.browser.mobile) {
        layout.dragmode = false;
    }
    Plotly.newPlot('plot-isa-versions-program-sizes', data, layout);
});
</script>
