<div id="plot-isa-versions-complexity"></div>
<script>
var host_programs = ['cil_from_host', 'cil_from_netdev', 'cil_to_host', 'cil_to_netdev', 'handle_lxc_traffic', 'tail_handle_ipv4_cont_from_host', 'tail_handle_ipv4_cont_from_netdev', 'tail_handle_ipv4_from_host', 'tail_handle_ipv4_from_netdev', 'tail_handle_ipv6_cont_from_host', 'tail_handle_ipv6_cont_from_netdev', 'tail_handle_ipv6_from_host', 'tail_handle_ipv6_from_netdev', 'tail_handle_nat_fwd_ipv4', 'tail_handle_nat_fwd_ipv6', 'tail_handle_snat_fwd_ipv4', 'tail_handle_snat_fwd_ipv6', 'tail_ipv4_host_policy_ingress', 'tail_ipv6_host_policy_ingress', 'tail_nodeport_nat_egress_ipv4', 'tail_nodeport_nat_egress_ipv6', 'tail_nodeport_nat_ingress_ipv4', 'tail_nodeport_nat_ingress_ipv6', 'tail_nodeport_rev_dnat_ingress_ipv4', 'tail_nodeport_rev_dnat_ingress_ipv6'];
var programs = host_programs.map(p => 'bpf_host ' + p);
var v1Complexity = {
    x: programs,
    y: [1215, 1084, 1683, 41960, 27178, 30836, 16600, 2918, 15519, 25935, 13078, 2278, 10936, 6777, 4728, 13820, 14891, 21013, 9524, 8081, 5307, 52619, 11575, 4497, 2711],
    type: 'bar',
    mode: 'markers',
    name: 'v1',
    marker: {
        color: 'rgb(241, 115, 35)',
    }
};
var v2Complexity = {
    x: programs,
    y: [1206, 1078, 1695, 42242, 28163, 31582, 17001, 2907, 15092, 26070, 13486, 2304, 10648, 6387, 4412, 13598, 14732, 21438, 9601, 7999, 5176, 51500, 11367, 4502, 2905],
    type: 'bar',
    mode: 'markers',
    name: 'v2',
    marker: {
        color: 'rgb(248, 197, 23)',
    }
};
var v3Complexity = {
    x: programs,
    y: [1004, 1078, 1479, 58125, 40379, 32498, 18275, 2874, 16961, 38127, 14433, 2181, 9950, 7233, 4404, 12983, 12984, 22290, 9354, 7236, 8267, 140516, 11182, 4924, 2642],
    type: 'bar',
    mode: 'markers',
    name: 'v3',
    marker: {
        color: 'rgb(98, 138, 198)',
    }
};
var v4Complexity = {
    x: programs,
    y: [970, 1015, 1437, 47327, 42495, 40794, 23456, 2767, 16767, 31760, 20027, 2678, 10141, 6972, 4408, 17101, 13863, 20652, 9136, 7333, 8451, 80649, 12454, 5010, 2493],
    type: 'bar',
    mode: 'markers',
    name: 'v4',
    marker: {
        color: 'rgb(152, 201, 62)',
    }
};



plotlyReady(function() {
    var data = [v1Complexity, v2Complexity, v3Complexity, v4Complexity];
    var layout = {
        title: '<b>Complexity for Each Instruction Set Version</b>',
        barmode: 'group',
        legend: {x: 0.02, y: 0.95},
        margin: {t: 80, l: 50, r: 0, b: 80},
        xaxis: {
            title: "Cilium's BPF programs",
            showticklabels: false
        },
        yaxis: {
            tickformat: 's',
            // type: 'log',
            // autorange: true,
        },
        height: 450,
    };
    if (jQuery.browser && jQuery.browser.mobile) {
        layout.dragmode = false;
    }
    Plotly.newPlot('plot-isa-versions-complexity', data, layout);
});
</script>
