<script type="text/javascript">
function showFormula1Subset1() {
  $('#formula1-subset1').show();
}
function hideFormula1Subset1() {
  $('#formula1-subset1').hide();
}
function showFormula1Subset2() {
  $('#formula1-subset2').show();
}
function hideFormula1Subset2() {
  $('#formula1-subset2').hide();
}
function showFormula1Subset3() {
  $('#formula1-subset3').show();
}
function hideFormula1Subset3() {
  $('#formula1-subset3').hide();
}
function showFormula1Subset4() {
  $('#formula1-subset4').show();
}
function hideFormula1Subset4() {
  $('#formula1-subset4').hide();
}
function showFormula2Subset1() {
  $('#formula2-subset1').show();
}
function hideFormula2Subset1() {
  $('#formula2-subset1').hide();
}
function showFormula2Subset2() {
  $('#formula2-subset2').show();
}
function hideFormula2Subset2() {
  $('#formula2-subset2').hide();
}
function showFormula2Subset3() {
  $('#formula2-subset3').show();
}
function hideFormula2Subset3() {
  $('#formula2-subset3').hide();
}
function showFormula2Subset4() {
  $('#formula2-subset4').show();
}
function hideFormula2Subset4() {
  $('#formula2-subset4').hide();
}
function showFormula2Subset5() {
  $('#formula2-subset5').show();
}
function hideFormula2Subset5() {
  $('#formula2-subset5').hide();
}

jqueryReady(function() {
  $('#ref-formula1-subset1').hover(showFormula1Subset1, hideFormula1Subset1);
  $('#ref-formula1-subset2').hover(showFormula1Subset2, hideFormula1Subset2);
  $('#ref-formula1-subset3').hover(showFormula1Subset3, hideFormula1Subset3);
  $('#ref-formula1-subset4').hover(showFormula1Subset4, hideFormula1Subset4);
  $('#ref-formula2-subset1').hover(showFormula2Subset1, hideFormula2Subset1);
  $('#ref-formula2-subset2').hover(showFormula2Subset2, hideFormula2Subset2);
  $('#ref-formula2-subset3').hover(showFormula2Subset3, hideFormula2Subset3);
  $('#ref-formula2-subset4').hover(showFormula2Subset4, hideFormula2Subset4);
  $('#ref-formula2-subset5').hover(showFormula2Subset5, hideFormula2Subset5);
});
</script>
